{{!-- {{yield }}

<div class="popup">
  <div class="popup-content">
    <p>Hello! This is a popup.</p>
    <button {{on "click" this.closePopup}}>Close</button>
  </div>
</div> --}}


<div class="popup">
  <div class="popup-content">
    <h1>I am here</h1>

  </div>
</div>